# Docker image configuration
IMAGE_NAME=ghcr.io/mohammedwed/simple-lms
IMAGE_TAG=stable

# Frappe site configuration
SITE_NAME=lms.veraxity.dev

# Passwords
DB_ROOT_PASSWORD=your_secure_db_password
ADMIN_PASSWORD=your_secure_admin_password
